.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .menu li {
    float: left;
  }
  
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu li a:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }

body{
    background-color: aliceblue;
}

.evszakok{
    transition: 0.5s;
    float: left;
    margin: 1%;
}

.evszakok:hover{
    transform: scale(110%);
    font-size: x-large;
}

img{    
    border: 4px solid black;
    border-radius: 5px;
    width: 250px;
}